.page-search {

  main {
    padding: 0;
  }

}

.search {

  display: flex;
  height: 100%;

}

.search-map {
  height: 100%;
  width: 65vw;
}

.search-sidebar {
  width: 35vw;
  padding: 1em;
}

.search-form {

  .input {
    width: 100%;
    border: solid 2px $blue-grey-200;
  }

}

.search-results {

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .business-card {

    font-size: 1.4vw;
    padding: 1.5em 0;
    border-bottom: solid 1px $blue-grey-100;

    .business-card-actions-order {

      .button {
        font-size: 1.1vw;
      }

    }

  }

}