.page-search {

  .wrapper {
    height: 100vh;
  }

  main {
    min-height: 0;
    padding: 0;
  }

}

.search {

  display: flex;
  height: 100%;

}

.search-map {
  display: flex;
  height: calc(100vh - 4em - 2em - 1px);
  width: 65%;
}

.search-sidebar {
  overflow-y: scroll;
  width: 35%;
  padding: 1em 0;
}

.search-form {

  padding: 0 1em;

  .input {

    width: 100%;
    border: solid 2px $blue-grey-200;
    outline: none;

    &:focus {
      border: solid 2px $launchtime-cyan;
      box-shadow: 0 0 6px rgba($launchtime-cyan, 1);
    }

  }

}

.search-results {

  margin-top: 1em;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .business-card {

    font-size: 1.4vw;
    padding: 1.5em 0;
    border-bottom: solid 1px $blue-grey-100;

    .business-card-actions-order {

      .button {
        font-size: 1.1vw;
      }

    }

  }

}

.search-results-count,
.search-results-item {
  padding: 0 1em;
}

.search-results-count {

  color: $blue-grey-600;
  margin-bottom: .4em;

  strong {
    color: $blue-grey-900;
  }

}

.search-results-item-active {

  box-shadow: 0 0 9px rgba($launchtime-cyan, 1);
  margin-top: -1px;

  .business-card {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }

}