.business-card {

  display: flex;
  overflow: hidden;
  align-items: center;

  img {
    width: 6em;
    height: 6em;
    border-radius: .4em;
    margin-right: .5em;
  }

}

.business-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.business-card-title {
  overflow: hidden;
  color: $blue-grey-900;
  font-size: 1.6em;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 .2em 0 0;
  margin: 0 0 .2em;
}

.business-card-meta {

  font-size: .75em;
  list-style: none;
  padding: 0;
  margin: 0;

  li {

    margin-bottom: .2em;

    &:last-child {
      margin-bottom: 0;
    }

  }

  span {
    display: flex;
    justify-content: flex-end;
    color: $blue-grey-100;
  }

}

.business-card-rating {

  svg {
    margin: 0 .1em;
  }

}

.business-card-rating-highlight {
  color: $launchtime-cyan;
}

.business-card-cost {

  svg {
    margin: 0 -.1em;
  }

}

.business-card-cost-highlight {
  color: $launchtime-purple;
}

.business-card-content {
  min-width: 0;
  width: 100%;
}

.business-card-tags {
  overflow: hidden;
  color: $blue-grey-700;
  font-size: .8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 .8em;
}

.business-card-actions {

  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {

    margin: 0 .3em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}

.business-card-actions-info {

  display: flex;
  justify-content: space-between;

  .button {
    display: flex;
    flex-direction: column;
    font-size: .6em;
    color: $launchtime-purple-dark;
    background: none;
    padding: 0;
  }

}

.business-card-actions-info-icon {

  display: inline-block;
  width: 3em;
  height: 3em;
  background-color: $launchtime-purple-dark;
  padding: 0;
  border-radius: 100%;

  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    padding: .8em;
  }

  .icon-phone {
    transform: rotate(90deg);
  }

}

.business-card-actions-order {
  margin-left: .8em;
}