header {

  width: 100%;
  background-color: white;

  .container {
    display: flex;
    justify-content: space-between;
    height: 4em;
    line-height: 4em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 0 .5em;
  }

}

.header-logo {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  margin: 0;
}