.header {

  width: 100%;
  background-color: white;
  border-bottom: solid 1px $launchtime-cyan;

  .container {
    display: flex;
    justify-content: space-between;
    height: 4em;
    line-height: 4em;
    padding: 0 1em;
  }

  a {
    display: block;
    text-decoration: none;
  }

}

.header-logo {

  font-size: 1.4em;

  &,
  a {
    display: flex;
    align-items: center;
    margin: 0;
  }

}

.header-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-avatar {

  overflow: hidden;
  width: 3em;
  height: 3em;
  background-color: $blue-grey-600;
  border-radius: 100%;
  margin: 0;
  border: solid 2px $launchtime-purple;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}